.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #0077be; /* Ocean blue */
    color: white;
    padding: 20px;
  }
  
  .profile {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px;
  }
  
  .profile-image {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .menu li {
    margin: 15px 0;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 40%;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  